<p><b><%= link_to h(@article.title), @article.link %></b></p>
<p><%= @article.filtered_content %></p>
<p>Posted at <%= @article.modified_at %>
by <%= link_to @article.member.name,
    :controller => 'members',
    :action => 'show',
    :id => @article.member.id %>
</p>

<p><%= link_to 'Home', '/' %> | <%= link_to 'More', :action => 'list' %></p>
