There's a new event being organized on pdxruby.org:

<%= url_for :controller => 'events',
      :action => 'show',
      :id => event.id,
      :only_path => false %>

Check it out, and sign up if you're interested.

The PDX.rb Crew
http://www.pdxruby.org/