Dear <%= @member.name %>,

Welcome to the Portland Ruby Brigade!

Your new account on pdxruby.org has been created. You can now sign up for
group events, and even organize events of your own.

You can edit your profile at the following location:

  <%= url_for :only_path => false, :action => :show, :id => @member.id %>

Happy hacking,

The PDX.rb Crew
http://www.pdxruby.org/
