<li>
<p><b><%= article.title %></b>
(<%= link_to 'Show', 
  :controller => 'articles',
  :action => 'show',
  :id => article.id %>)
<br/>
Posted at <%= article.modified_at %>
by <%= link_to article.member.name,
    :controller => 'members',
    :action => 'show',
    :id => article.member.id %>
</p>
</li>
