<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<meta http-equiv="Content-Language" content="en-us">
  	<meta name="copyright" content="(c) Copyright 2005 John Labovitz">
    <link href="stylesheets/stylesheet.css" media="screen" rel="stylesheet" type="text/css"/>
  	<title>The Portland Ruby Brigade (PDX.rb)</title>
  </head>
  
  <body>

    <div id="banner">
      
      <div id="banner-left">
        pdx.rb
      </div>
    
      <div id="banner-right">
        <h1>The Portland Ruby Brigade</h1>
      </div>
    
    </div>

    <div id="sidebar">
      <a href="/members/login">Member login/preferences</a>
    </div>
    
    <div id="content">
      
      <h2>Who are we?</h2>
      
      <p>pdx.rb is a gathering of Ruby programmers in the Portland, Oregon, area.
    
    
      <h2>Join us!</h2>
    
      <p>We meet the first Tuesday (<i>think Ruby Tuesday!</i>) of every month from 7&ndash;10pm at <a href="http://freegeek.org/" target="_blank">FreeGeek</a> (1731 SE 10th Avenue, Portland, OR [<a href="http://www.google.com/maps?q=1731+SE+10th+Avenue,+Portland,+OR&spn=0.030513,0.046070&hl=en" target="_blank">map</a>]).
    
      <p>We have an online calendar you can <a href="webcal://pdxruby.org/pdx.rb.ics">subscribe to</a> (here&rsquo;s an alternative <a href="http://pdxruby.org/pdx.rb.ics">http: link</a> if you need it).  Email <a href="mailto:events@pdxruby.org">events@pdxruby.org</a> with additions.

      <p>You can join the <a href="http://lists.pdxruby.org/mailman/listinfo/pdxruby">mailing list</a>.
      
      <p>You can also find some of us on our IRC channel at <a href="irc://irc.freenode.net/#pdx.rb">#pdx.rb</a> on irc.freenode.net.
      
      
      <h2>Upcoming events</h2>
	<ul>
        	<% for event in @upcoming_events  %>
			<li>
				<%= link_to event.name, { :controller => 'events',
							  :action     => 'show',
							  :id	      => event.id } %><br/>
				<%= event.starts_at.to_formatted_s("%A %b %d at %I:%M %p") %> - <%= event.location.name %>
			</li>
   		<% end %> 
    	</ul>

      <h2>Recent events</h2>
        <ul>
                <% for event in @recent_events  %>
                        <li>
                                <%= link_to event.name, { :controller => 'events',
                                                          :action     => 'show',
                                                          :id         => event.id } %><br/>
                                <%= event.starts_at.to_formatted_s("%A %b %d at %I:%M %p") %> - <%= event.location.name %>
                        </li>
                <% end %>
        </ul>


      <h2>Looking for more information?</h2>
      
      <p>Although no longer a true wiki, you may find what you&rsquo;re seeking at <a href="http://pdxruby.org/pdxruby/show/HomePage">the archives of our old wiki</a>.
    
      
      <h2>Thanks to...</h2>
      
      <p>Robby Russell at <a href="http://www.planetargon.com/" target="_blank">Planet Argon</a> for kindly serving up this site.
      
    </div>
    
  </body>
  
</html>
