<h1>Editing participant</h1>

<%= form_tag :action => 'update', :id => @participant %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @participant %> |
<%= link_to 'Back', :action => 'list' %>
