<p>
<%= link_to rsvp.member.name, 
	:controller => 'members', 
	:action => 'show', 
	:id => rsvp.member
%>
<% unless rsvp.comments == "" %>
said, "<%= rsvp.comments %>"
<% end %>
<%= if rsvp.member.id == session[:member] and not participation.event.started?
	link_to '[change]', :controller => 'participants', :action => 'edit', :id => rsvp.id
end %>
</p>
