<h1>Editing event</h1>

<%= start_form_tag :action => 'update', :id => @event %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @event %> |
<%= link_to 'Event List', :action => 'list' %>
