<h1>Editing event</h1>

<%= start_form_tag :action => 'update', :id => @event %>
  <%= unless @event.ended? 
        render_partial 'form' 
      else
        render_partial 'form_ended'
      end
  %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @event %> |
<%= link_to 'Event List', :action => 'list' %>
