login: &login
  adapter: postgresql
  host: localhost
  port: 5406
  username: pdxruby
  password: CHANGEME

development:
  database: pdxruby_dev
  <<: *login

test:
  database: pdxruby_test
  <<: *login

production:
  database: pdxruby_production
  <<: *login