<%= error_messages_for 'feedback' %>

<!--[form:feedback]-->
<p><label for="feedback_feedback">Feedback</label><br/>
<%= text_area 'feedback', 'feedback'  %></p>

<p><label for="feedback_created_at">Created at</label><br/>
<%= datetime_select 'feedback', 'created_at'  %></p>
<!--[eoform:feedback]-->

