<h1>Editing feedback</h1>

<%= form_tag :action => 'update', :id => @feedback %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @feedback %> |
<%= link_to 'Back', :action => 'list' %>
