<% for column in Feedback.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @feedback.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @feedback %> |
<%= link_to 'Back', :action => 'list' %>
