<h1>Editing member</h1>

<%= form_tag({:action => 'update', :id => @member}, {:multipart => true}) %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @member %>
