<% form_for :member, @member, :url => "/login" do |f| %>
  <p><%= f.text_field :email %></p>
  <p><%= f.password_field :password %></p>
  <p>
    <%= submit_tag "Login"  %>
    <%= submit_tag "Reset Password", :name => "request_reset" %>
  </p>
<% end %>
<% form_for :member, @member, :url => "/reset" do |f| %>

<% end %>