<!--[form:member]-->

<%= start_form_tag %>

<p><label for="member_email">Email</label><br/>
<%= text_field 'member', 'email'  %></p>

<p><label for="member_password">Password</label><br/>
<%= password_field 'member', 'password'  %></p>

<!--[eoform:member]-->

<%= submit_tag "Login" %>

<p>

<p>
Or <%= link_to 'register as a new member', :action => 'new' %>.<br>
<%= link_to 'Forgot your password?', :action => 'reset' %>
</p>
