<% for column in Member.content_columns %>
<p>
  <% if column.name != "password" %>
    <b><%= column.human_name %>:</b> <%=h @member.send(column.name) %>
  <% end %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @member %> |

<a href="/">pdx.rb Home</a> |

<%= link_to 'Logout', :action => 'logout' %>
